{% extends 'base.html' %}
{% load static %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Eng Software</title>
  </head>
  <body>
  <div class="jumbotron" style="background-color: whitesmoke !important; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div class="container">
      <h1 class="text-center container col-6 mb-2 bg-light text-dark shadow-none p-3 mb-5 bg-white rounded">LocaFácil</h1>
      <p class="text-center">Venha alugar seu carro ou seu quarto dos sonhos!!!</p>
    </div>
  </div>

  </body>

{% endblock %}
